<div id="top"></div>
<div class="main">
  <div class="about-us-wrapper">
    <div class="about-us">

      <div class="wrapper">
        <div>

          <div class="text1 ">
            <h1>RESTAURANT ECLAIR</h1>
            <p>The interior of the restaurant is chamber and romantic and, in fact, private. Lovely terrace in greenery and flowers, where you can spend time like in the garden.
              Amadeus uses the highest quality ingredients for French dishes, which combine incredible taste with a unique presentation.</p>
          </div>

          <div class="img1 about-us-item">
            <img src="assets/images/AMMO%20_%20Joyce%20Wang.jpg" alt="">
          </div>

        </div>

        <div>
          <div class="img2 about-us-item">
            <img src="assets/images/TURTLES.jpg" alt="">
          </div>
          <div class="text2 ">
            <h1>RESTAURANT ECLAIR</h1>
            <p>Eclair is the perfect place for a delicious lunch or dinner.
              The restaurant's exceptional cuisine is complemented by an elegant atmosphere and a high level of service.
              In the restaurant you can eat, drink a cup of fragrant coffee or tea, enjoy live music, chat in a pleasant atmosphere with a glass of good wine.</p>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="long-photo">
    <div><q><i>Il n'y a pas d'amour plus sincère que l'amour de la nourriture</i></q></div>
    <div id="author">George Bernard Shaw</div>


  </div>

  <div class="our-team-wrapper">
    <h1>OUR TEAM</h1>
    <div class="our-team">
      <div class="team-item"><img src="assets/images/Hardin.jpg" alt=""></div>
      <div class="team-item"><img src="assets/images/Leonardo.jpg" alt=""></div>
      <div class="team-item"><img src="assets/images/Ariana.JPG" alt=""></div>
      <div class="team-item"><img src="assets/images/Valya.JPG" alt=""></div>
    </div>
  </div>

</div>





