
<div id="top"></div>

<h1>INTERIOR</h1>
<div class="main">
  <div class="left">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/images/IMG_6255.MP4" type="video/mp4">
    </video>
  </div>
  <div class="right">
    <img src="assets/images/IMG_6249.JPG" alt="">
    <img src="assets/images/IMG_6248.JPG" alt="">
    <img src="assets/images/IMG_6251.JPG" alt="">
    <img src="assets/images/IMG_6252.JPG" alt="">
    <img src="assets/images/IMG_6253.JPG" alt="">
    <img src="assets/images/IMG_6258.JPG" alt="">
  </div>
</div>


<h1>TERRACE</h1>
<div class="teracce">
  <div class="teracce-left">
    <img src="assets/images/IMG_6262.JPG" alt="">
  </div>
  <div class="teracce-right">
    <img src="assets/images/IMG_6261.JPG" alt="">
    <img src="assets/images/IMG_6265.JPG" alt="">
    <img src="assets/images/IMG_6266.JPG" alt="">
    <img src="assets/images/IMG_6268.JPG" alt="">
    <img src="assets/images/IMG_6271.JPG" alt="">
    <img src="assets/images/IMG_6260.JPG" alt="">
  </div>
</div>



<h1>KITCHEN</h1>
<div class="kitchen">
  <div class="kitchen-left">
    <img src="assets/images/IMG_6030.JPG" alt="">
  </div>
  <div class="kitchen-right">
    <img src="assets/images/IMG_6025.JPG" alt="">
    <img src="assets/images/IMG_6272.JPG" alt="">
    <img src="assets/images/IMG_6026.JPG" alt="">
    <img src="assets/images/IMG_6274.JPG" alt="">

  </div>
</div>
<div class="kitchen-bottom">

  <div class="kitchen-bottom-left">
    <img src="assets/images/IMG_6276.JPG" alt="">
    <img src="assets/images/IMG_6277.JPG" alt="">
  </div>
  <div class="kitchen-bottom-right">
    <img src="assets/images/IMG_6278.JPG" alt="">
    <img src="assets/images/IMG_6279.JPG" alt="">
  </div>

</div>




<h1>DRINKS</h1>
<div class="drinks">
  <div class="drinks-left">
    <img src="assets/images/IMG_6247.JPG" alt="">
  </div>
  <div class="drinks-right">
    <img src="assets/images/IMG_6282.JPG" alt="">
    <img src="assets/images/IMG_6280.JPG" alt="">
    <img src="assets/images/IMG_6283.JPG" alt="">
    <img src="assets/images/IMG_6285.JPG" alt="">
    <img src="assets/images/IMG_6304.JPG" alt="">
    <img src="assets/images/IMG_6305.JPG" alt="">

  </div>
</div>
